$font-dm-sans: "DM Sans", sans-serif;
$font-playfair-display: "Playfair Display", serif;
$accent: #006a2a;
$shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.43);
$padd: 0.5rem 2rem;
$border-gray: 2px solid rgba(128, 128, 128, 0.846);

$sm : 320px;
$sm-mx : 480px;
$md: 640px;