@font-face {
  font-family: "DM Sans";
  src: url("~/assets/font/DM_Sans/DMSans-VariableFont_opsz,wght.ttf")
    format("truetype");
  font-weight: 100 1000;
  font-style: normal;
}

@font-face {
  font-family: "DM Sans";
  src: url("~/assets/font/DM_Sans/DMSans-Italic-VariableFont_opsz,wght.ttf")
    format("truetype");
  font-weight: 100 1000;
  font-style: italic;
}

@font-face {
  font-family: "Playfair Display";
  src: url("~/assets/font/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 100 1000;
  font-style: normal;
}

@font-face {
  font-family: "Playfair Display";
  src: url("~/assets/font/Playfair_Display/PlayfairDisplay-Italic-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 100 1000;
  font-style: italic;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-display: swap;
  font-family: $font-dm-sans;
}

h1,
h2,
h3 {
  font-family: $font-playfair-display;
}

a {
  text-decoration: none;
  color: black;
}
.btn-wrap {
  display: flex;
  gap: 4px;
  button {
    min-width: 2rem;
    flex: 1;
    &:hover {
      transform: scale(0.95);
      transition: transform 0.4s ease-in-out;
    }
  }

  .btn-cancel {
    border: 1px solid $accent;
    background-color: white;
    color: $accent;
  }

  .btn-confirm {
    border: 1px solid $accent;
    background-color: $accent;
    color: white;
  }
}

.form {
  display: grid;
  &__label:first-child {
    margin-top: 0;
  }
  &__label {
    margin-top: 2rem;
  }
  &__input {
    height: 2rem;
    border: none;
    border-bottom: $border-gray;
    margin-top: 2px;
    padding: 0 4px;
    width: 100%;
    margin-bottom: 0.5rem;
  }

  &__text {
    height: 2rem;
    border-bottom: $border-gray;
    margin-top: 2px;
    padding: 0 4px;
    width: 100%;
    margin-bottom: 0.5rem;
  }

  &__pass {
    position: absolute;
    background-color: transparent;
    border: none;
    margin-left: -1.6rem;
    align-self: center;
  }

  &__error {
    color: red;
    text-decoration: none;
    list-style: none;
  }
  &__btn {
    height: 2.5rem;
    margin: 20px 0;
    background-color: $accent;
    color: white;
    font-weight: 700;
    border: none;
    border-radius: 10px;

    &:hover {
      box-shadow: $shadow;
      transform: scale(0.95);
      transition: transform 0.5s ease-in-out;
    }
  }
  .link {
    color: $accent;
    text-decoration: underline;
    font-weight: 600;
  }
}

.card {
  display: grid;
  text-align: justify;
  &__pic {
    width: 24rem;
    height: 24rem;
    display: block;
    overflow: hidden;
    border-radius: 20px;
    isolation: isolate;

    &__img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform 0.8s ease-in-out;

      &:hover {
        transform: scale(1.2);
      }
    }
  }

  &__title {
    font-size: 18pt;
  }
  &__des {
    display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  }

  &__footer {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__category {
      color: $accent;
      background-color: #bdeea1;
      padding: 0.2rem 0.5rem;
      margin: 0 4px;
      border-radius: 10px;
    }
  }
}

.avatar {
  display: flex;
  align-items: center;
  gap: 4px;
  img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
  }
}

section {
  margin-bottom: 4rem;
}

.btn-accent {
  color: white;
  background-color: $accent;
  border: 1px solid $accent;
}

.btn-border {
  color: $accent;
  border: 1px solid $accent;
}



.space {
  &-x {
    & > * + * {
      --tw-space-x-reverse: 0;
      margin-right: calc(#{$custom-space-amount} * var(--tw-space-x-reverse));
      margin-left: calc(#{$custom-space-amount} * (1 - var(--tw-space-x-reverse)));
    }
  }

  &-y {
    & > * + * {
      --tw-space-y-reverse: 0;
      margin-top: calc(#{$custom-space-amount} * (1 - var(--tw-space-y-reverse)));
      margin-bottom: calc(#{$custom-space-amount} * var(--tw-space-y-reverse));
    }
  }
}

.line-clamp-1 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  text-align: left;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
